/**
=============================================================
; Title:  not-found.component.css
; Author: group 2
; Date:   03 December 2021
; Description: styling for not-found.component.html
; =============================================================
*/

/* mat-card-subtitle styling for the color and the font size */
.mat-card-subtitle {
    line-height: 100%;
    font-size: 2.1em;
    padding-top: 45px;
}


/* This is a styling for 500 status code */
  .statusCode {
    font-size: 500%;
    text-align: center;
    padding-top: 45px;
  }

  /* h1 styling for the color and the font size */
h1 {
    font-size: 2.1em;
    font-family: 'Special Elite', cursive;
    text-align: center;
    color: brown;
    padding-top: 40px;
}

  /*   /* This is a styling for Return home button to reloaded the home page*/
 button{
     font-size: 1.6em;
 }