<div fxLayout= "column">
  <!--Create card-->
  <mat-card>
    <!--Card title-->
    <mat-card-title>Users Configuration</mat-card-title>
    <mat-card-subtitle>
      <button mat-button routerLink="/users/create/new" color="accent">Create</button>
    </mat-card-subtitle>


    <mat-card-content *ngIf="users">
      <!--Table for user information-->
      <table  mat-table [dataSource]="users">
        <!--UserName-->
        <ng-container matColumnDef="userName">
          <!--Table header-->
          <th mat-header-cell *matHeaderCellDef>Username</th>
          <!--Table data-->
          <td mat-cell *matCellDef="let element">
            {{element.userName}}
          </td>
        </ng-container>

        <!--firstName-->
        <ng-container matColumnDef="firstName">
          <!--Table header-->
          <th mat-header-cell *matHeaderCellDef>First Name</th>
          <!--Table data-->
          <td mat-cell *matCellDef="let element">{{element.firstName}}</td>
        </ng-container>

        <!--LastName-->
        <ng-container matColumnDef="lastName">
          <!--Table header-->
          <th mat-header-cell *matHeaderCellDef>Last Name</th>
          <!--Table data-->
          <td mat-cell *matCellDef="let element">{{element.lastName}}</td>
        </ng-container>

        <!--phoneNumber-->
        <ng-container matColumnDef="phoneNumber">
          <!--Table header-->
          <th mat-header-cell *matHeaderCellDef>Phone</th>
          <!--Table data-->
          <td mat-cell *matCellDef="let element">{{element.phoneNumber}}</td>
        </ng-container>

        <!--Address-->
        <ng-container matColumnDef="address">
          <!--Table header-->
          <th mat-header-cell *matHeaderCellDef>Address</th>
          <!--Table data-->
          <td mat-cell *matCellDef="let element">{{element.address}}</td>
        </ng-container>

        <!--Email-->
        <ng-container matColumnDef="email">
          <!--Table header-->
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <!--Table data-->
          <td mat-cell *matCellDef="let element">{{element.email}}</td>
        </ng-container>


        <!--Functions delete & edit-->
        <ng-container matColumnDef="functions">
          <th mat-header-cell *matHeaderCellDef>Functions</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button routerLink="/users/{{element._id}}">
              <mat-icon color="accent">edit</mat-icon>
            </button>
            <button mat-icon-button (click)="delete(element._id, element.userName)">
              <mat-icon color="accent">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
