<!--
 ; Title:  reset-password-form component
 ; Author: Group-2
 ; Date:   06 December 2021
 ; Description:  reset-password-form component.
-->

<div fxLayout="row wrap" fxLayoutAlign="centers start">
  <div fxFlex.gt-sm="550" fxFlex="100">
    <!-- Spacing for style-->
    <br /><br />
    <!--Create card-->
    <mat-card class="card-container mat-elevation-z4">

      <mat-card-title>Reset Password</mat-card-title><!--Card title-->
      <!--mat-card content-->

      <br /><br /><!-- Spacing for style-->

      <!--Create form-->
      <form [formGroup]="form" (ngSubmit)="resetPassword()" #resetPasswordForm>
        <!--Card-content-->
        <mat-card-content fxLayout="colum">

          <mat-form-field fxFlex appearance="fill">
            <mat-label>Reset password</mat-label>
            <!--Input field for reset password-->
            <input type="password" [formControl]="form.controls['password']" />

            <!--Error displaying that password is a required field.-->
            <mat-error class="error" *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched">
              Password is required field
            </mat-error>

            <!--Error displaying password requirements-->
            <mat-error class="error" *ngIf="form.controls.password.hasError('pattern') && form.controls.password.touched">
              Password must be at least 8 characters, contain one letter, and one number.
            </mat-error>
          </mat-form-field>

          <br /><br /> <!--Spacing for style-->

          <div fxFlex fxLayoutAlign="end">
            <!--Cancel button re-route back to /session/signin-->
            <button mat-raised-button router.Link="/session/signin">Cancel</button>
            <!--Reset password button disabled until form is valid.-->
            <button mat-raised-button>Reset Password</button>
          </div>

        </mat-card-content>
      </form>

    </mat-card>
  </div>
</div>
