<!--
=============================================================
; Title:  role-list.component.html
; Author: group 2
; Date:   08 December 2021
; Description: role-list component
=============================================================
-->

<br>
<div fxLayout="column">
  <mat-card>
      <mat-card-title>Role Configuration</mat-card-title>
      <mat-card-subtitle>
        <button mat-button routerLink="/roles/create/new" color="accent">Create</button>
      </mat-card-subtitle>

      <br/>
      <p-messages [(value)]="errorMessages" [enableService]="false"></p-messages>
      <p-table [value]="roles" styleClass="p-datatable-sm">
        <ng-template pTemplate="header">
          <tr style="font-size: 14px; font-family: 'Times New Roman', Times, serif;">
            <th style="background-color: white;">Name</th>
            <th style="background-color: white;">Functions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-role>
          <tr style="font-size: 14px; font-family: 'Times New Roman', Times, serif;">
            <td> {{ role.text }} </td>
            <td>
              <button mat-icon-button routerLink="/roles/{{role._id}}">
                <mat-icon color="primary">edit</mat-icon>
              </button>
              <button mat-icon-button (click)="delete(role._id, role.text)">
                <mat-icon color="warn">delete</mat-icon>
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
  </mat-card>
</div>
