/**
=============================================================
 ; Title:  home.component.css
 ; Author: Group-2
 ; Date:   06 Decemeber 2021
 ; Description:  home.component.css
=============================================================
*/

.title {
  text-align: center;
  font-weight: lighter;
}

.subtitle {
  text-align: center;
  font-size: 24px;
}
.mat-card-subtitle {
  text-align: left;
  font-size: 30px;

}

.grid-container {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: auto auto ;
}

mat-card-title mat-checkbox {
  font-size: 18px !important;
}


.center {
  text-align: right;
}