

  .title {
    text-align: center;
    font-weight: lighter;
  }

  .subtitle {
    text-align: center;
    font-size: 14px;
  }


.header {
  padding: 10px;
}

.header-top {
  width: 100%;
}

.hub-header {
  margin-left: 100px;
  margin-top: 20px;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productImg {

  width: 250px;
  height: 250px;

}

.container {
  min-height: 100%;
  margin-bottom: -150px;
}

.container::after{
  content: "";
  display: block;
}


