<!--
 ; Title:  About Us Page
 ; Author: Group-2
 ; Date:   06 Decemeber 2021
 ; Description:  About Us-- html page.
-->

<div fxFlexLayout>
  <!--Container for all elements-->
  <div class="container">
    <!--Mat-card-->
    <mat-card class="mat-elevation-z2">
      <!--Card-title-->
      <mat-card-title align="center">About Us </mat-card-title>
      <br /><br /><!--Spacing for style-->
      <mat-card-content class="aboutUsText">
        <!--Image-->
        <img src="../../../assets/aleksander-vlad-jiVeo0i1EB4-unsplash.jpg" alt="Computer and coffee mug.">
        <p>
          Bob's Computer Repair is a MEAN project. It utilizes databases services through
          MongoDB, Angular, Express, and Node.js. It was created as a capstone project by three
          developers pursing degrees in Web Design. The service allows customer to create and log into
          their accounts. It allows them to reset their password if it is forgotten. User permissions can be
          controlled based on their role. Each user profile has security questions that are set up by the user.
          The user can select pre-written questions or may create their own. These questions allow the user to verify
          their account providing additional security.
        </p>
        <br />
        <p>
          Bob's Computer Repair highlights the use of front end design as well routing and API set up.
          The basic set up displays the Home page, About Us page, and Contact page. Once a user has logged in
          they can select services they need and will total their costs for the service, labor, and parts. The user
          is then shown an invoice of the services that they have selected. When a user is created they completed a form
          providing their name, email address, address and phone number. If these are fields are not filled out an error
          is displayed explaining to the user why their form was not valid. The project also includes a custom 404 and 500
          page.
        </p>
        <br />
        <p>
          This final capstone project demonstrates how the group works to program separately, then bring
          elements together to create a working application. Tasks were divide and assigned using a group
          Trello board. This allowed for each user to communicate their progress with the group while documenting
          any issues or roadblocks. Communication through slack also allowed members easy communication daily.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

