/*
 ; Title:  base-layout.component.css
 ; Author: Group-2
 ; Date:   27 November 2021
 ; Description: Styling for base-layout.component.html.
*/

.logo {
    margin-left: 75px;
    font-size: 24px;
    font-weight: lighter;;
  }
<<<<<<< HEAD

=======
  
  nav, mat-toolbar {
    width: 100%;
  }
>>>>>>> 908b2b6aa8f32ba8dfc99b2013f2905dec3044a4
  .navbar-container {
    padding: 5px;
  }

  .navbar-link {
    font-size: 20px;
    font-weight: lighter;
  }

  .main-content {
    padding-left: 30px;
  }

  .footer {
<<<<<<< HEAD
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

=======
    padding-top: 2%;
    bottom: 0;
    width: 100%;
>>>>>>> 908b2b6aa8f32ba8dfc99b2013f2905dec3044a4
  }

  .footer-content {
    font-size: 16px;
    font-weight: lighter;
    padding-left: 100px;
    letter-spacing: 3px;
  }

  .bu-link {
    text-decoration: none;
    color: wheat;
  }

  .bu-link:hover {
    text-decoration: underline;
  }
<<<<<<< HEAD
=======
  
   /* page-container position styling  */
.page-container {
  height: 100%;
  position: absolute;
  width: 100%;  
}

/* This is a styling for sign out profile-menu icon */
.mat-icon {
  font-size: 35px;
}
>>>>>>> 908b2b6aa8f32ba8dfc99b2013f2905dec3044a4
